*
!.gitignore
     public function type()
    {
        return $this->belongsTo(Types::class,'types');
    }
    // This for Typescontroller
    public function types()
    {
        return $this->belongsTo('App\Models\Types');
    }
    public function supplier()
    {
        return $this->belongsTo(Supplier::class,'supplier');
    }
    public function needs()
    {
        return $this->belongsTo('App\Models\Need','model');
    }
    for modelssss
     public function model(){
        return $this->hasMany(Models::class,'types');
    }
    //
    public function models()
    {
        return $this->hasMany('App\Models\Models','types');
    }

    public function needs()
    {
        return $this->hasMany('App\Models\Need','types');
    }
    for typess